*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
.venv/
js/yarn.lock

# Compiled javascript
ogdf_python_widget/nbextension/
ogdf_python_widget/labextension/

# OS X
.DS_Store

# IntelliJ
.idea
